.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}

.image-gallery-content.image-gallery-thumbnails-bottom:not(.fullscreen) {
  /* Applica solo quando NON c'è fullscreen */
  .image-gallery-slide-wrapper {
    overflow: clip;
  }
  .image-gallery-swipe,
  .image-gallery-slides {
    display: contents;
  }
}
