// Palette
$primary: #2891da;
$primary-hover: linear-gradient(90deg, #ffd200 0%, #f7971e 100%);
$secondary: #1e3c72;
$accent: linear-gradient(90deg, #f7971e 0%, #ffd200 100%);
$font-main: 'madefor-text', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$bg-light: #f9f6f6;
$bg-cards: #dcedff;
