.App {
  text-align: center;
  background-color: #DCEDFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family:'madefor-text', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

button, .MuiButton-root {
  transition: all 0.2s ease, visibility 0s !important;
  background: #2891DA !important;
  border-radius: 10px !important;
  border: none !important;
  box-shadow: none !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  padding: 6px 38px !important;
  text-transform: math-auto !important;
}
button,
.MuiButton-root:hover{
  color: #000000 !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
